/* [Blue Theme] */

/* Preloader and general styles */
body.loading    { background-image: url(../images/preloader-yellow.gif); }
body            { background-color: #1f1f1f; color: #cccccc; }

/* Links color */
a           { color:#cccccc; }
a:hover     { color:#eca833 !important; }

/* Button styles */
.btn        {background-color: #eca833;  border-bottom: 5px solid #c98f2b; }
.btn:hover  { background-color: #f5cb82; }

/* links color into paragraphs */
#content p a        { color:#eca833; }
#content p a:hover  { color:#f5cb82 !important; }

/* logo styles */
#logo > a span:first-child{ color:#cccccc; }
#logo > a span:last-child{ color:#eca833; }
#logo > a:hover span{ color:#eca833; }

/* Main menu links style */
#menu ul li a       { color:#cccccc; }
#menu ul li a:hover { color:#eca833; }

/* Countdown styles */
#countdown span              { color:#b6c0ca; }
#countdown ins               { color:#d9e0e6; }

/* Calendar styles */
.calendar           { background-color:#eca833; }
.calendar i         { background-color:#eca833; }
.calendar:before    { border-top: 70px solid #f5cb82; }
.calendar:after     { border-bottom: 70px solid #c98f2b; }

/* Panorama image */
#panorama		{ background-image:url(../panorama/panorama-dark.jpg); }

/* face overlay background-color */
.team-list li.face div.overlay{ background-color: #eca833; }

/* copyrights color */
.copyrights, .copyrights > a         { color:#404040; }

/* feedback input styles */
#feedback-form input[type="email"] 		{ background-color: #333333; color:#cccccc; }
#feedback-form input[type="email"]::-webkit-input-placeholder { color:#4d4d4d; }
#feedback-form input[type="email"]::-moz-placeholder { color:#cccccc; }

/* Infobox corner background-color */
.map-box:after  { border-top: 31px solid #c98f2b ; }

/* Contacts styles */
#contact-map .ib-inner > article     		{ background-color: #c98f2b; }
#contact-map .ib-inner > article a   		{ color:#f5cb82; }
#contact-map .ib-inner > article a:hover	{ color:#f5cb82; }

/* map close links styles */
.mclose { background-color: #eca833; }

/* change url to theme icons */
[class^="ico-"] { background-image: url(../images/icons-yellow-dark.png); }
.mapbox-close 	{ background-image: url(../images/icons-yellow-dark.png); }

/* Mapmarker images */
.mmarker{ background-image: url(../images/mapmarker-yellow.png); }
.mmarker-h{ background-image: url(../images/mapmarker-h-yellow.png); }